/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(../includes/fontawesome-all.min.css);
@import url(../includes/waves.min.css);
@import url(../includes/tooltipster.bundle.min.css);
@import url(../includes/tooltipster-sideTip-borderless.min.css);
@import url(../includes/bootstrap.css);
@import "https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:400,700&subset=cyrillic";
/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 19, ../sass/screen.scss */
body {
  font-family: "Roboto Condensed", sans-serif;
  background: #f9f9f9;
}

/* line 24, ../sass/screen.scss */
a {
  color: #663399;
}
/* line 27, ../sass/screen.scss */
a:hover {
  color: #663399;
  text-decoration: none;
}

/* line 33, ../sass/screen.scss */
.wrapper {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

/* line 39, ../sass/screen.scss */
header {
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9;
  height: 42px;
  /* Hamburger menu */
  /* NAVIGATION */
}
/* line 52, ../sass/screen.scss */
header .logo-holder {
  width: 122px;
  height: 30px;
  position: absolute;
  left: 50%;
  margin-left: -61px;
  top: 5px;
  z-index: 2;
  display: none;
}
@media (max-width: 850px) {
  /* line 52, ../sass/screen.scss */
  header .logo-holder {
    width: 28px;
    display: block;
    margin-left: -14px;
  }
}
/* line 68, ../sass/screen.scss */
header .logo-holder .logo {
  display: block;
}
/* line 71, ../sass/screen.scss */
header .logo-holder .logo span {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 82, ../sass/screen.scss */
header .logo-holder .logo:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(../img/logo.svg) no-repeat 0%;
  background-size: 100%;
}
@media (max-width: 850px) {
  /* line 82, ../sass/screen.scss */
  header .logo-holder .logo:before {
    background: url(../img/logo-initial.svg) no-repeat 0%;
    background-size: 100%;
  }
}
/* line 101, ../sass/screen.scss */
header .nav-left .logo-holder {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  margin-left: 0;
}
@media (max-width: 850px) {
  /* line 101, ../sass/screen.scss */
  header .nav-left .logo-holder {
    display: none;
  }
}
/* line 114, ../sass/screen.scss */
header .menu-bars {
  height: 28px;
  width: 0px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 2px;
  position: relative;
  cursor: pointer;
  -moz-transition: width 0.2s ease-in-out;
  -o-transition: width 0.2s ease-in-out;
  -webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}
@media (max-width: 850px) {
  /* line 114, ../sass/screen.scss */
  header .menu-bars {
    width: 32px;
    margin-left: 10px;
  }
}
/* line 129, ../sass/screen.scss */
header .menu-bars span,
header .menu-bars span:before,
header .menu-bars span:after {
  background: #663399;
  display: block;
  height: 2px;
  position: absolute;
  left: 0;
  right: 0;
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transition-duration: .3s,.3s;
  -webkit-transition-duration: .3s,.3s;
  transition-duration: .3s,.3s;
  -moz-transition-delay: .3s,0s;
  -webkit-transition-delay: .3s,0s;
  transition-delay: .3s,0s;
}
/* line 150, ../sass/screen.scss */
header .menu-bars span {
  top: 14px;
  margin: 0px 5px;
  -moz-transition-property: background;
  -webkit-transition-property: background;
  transition-property: background;
}
/* line 157, ../sass/screen.scss */
header .menu-bars span:before {
  content: "";
  top: -6px;
  -moz-transition-property: top, transform;
  -webkit-transition-property: top, transform;
  transition-property: top, transform;
}
/* line 165, ../sass/screen.scss */
header .menu-bars span:after {
  content: "";
  bottom: -6px;
  -moz-transition-property: bottom, transform;
  -webkit-transition-property: bottom, transform;
  transition-property: bottom, transform;
}
/* line 173, ../sass/screen.scss */
header .menu-bars span.active {
  background: transparent;
}
/* line 176, ../sass/screen.scss */
header .menu-bars span.active:before {
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  -moz-transition-delay: 0s,.3s;
  -webkit-transition-delay: 0s,.3s;
  transition-delay: 0s,.3s;
}
/* line 186, ../sass/screen.scss */
header .menu-bars span.active:after {
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  bottom: 0px;
  -moz-transition-delay: 0s,.3s;
  -webkit-transition-delay: 0s,.3s;
  transition-delay: 0s,.3s;
}
@media (max-width: 850px) {
  /* line 200, ../sass/screen.scss */
  header.fixed .menu-bars {
    width: 32px;
    margin-left: 10px;
    display: inline-block !important;
  }
}
/* line 211, ../sass/screen.scss */
header nav.navbar {
  font-size: 13px;
  line-height: 41px;
  text-transform: uppercase;
  height: 100%;
  padding: 0rem 1rem;
}
@media (max-width: 850px) {
  /* line 211, ../sass/screen.scss */
  header nav.navbar {
    position: fixed;
    top: 42px;
    width: 100%;
    background: #f9f9f9;
    display: none;
  }
  /* line 226, ../sass/screen.scss */
  header nav.navbar.show {
    display: block;
  }
}
/* line 231, ../sass/screen.scss */
header nav.navbar ul.menunav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
@media (max-width: 768px) {
  /* line 231, ../sass/screen.scss */
  header nav.navbar ul.menunav {
    flex-direction: column;
    width: 100%;
    padding: 20px 0px;
  }
}
/* line 247, ../sass/screen.scss */
header nav.navbar ul.menunav > li {
  margin: 0 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 252, ../sass/screen.scss */
header nav.navbar ul.menunav > li > a {
  display: block;
  border-bottom: 1px solid transparent;
}
/* line 256, ../sass/screen.scss */
header nav.navbar ul.menunav > li > a:hover {
  border-bottom-color: #663399;
}
@media (max-width: 768px) {
  /* line 252, ../sass/screen.scss */
  header nav.navbar ul.menunav > li > a {
    padding: 0px 10px;
  }
}
/* line 269, ../sass/screen.scss */
header .nav-left,
header .nav-right {
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 100%;
}
/* line 279, ../sass/screen.scss */
header .nav-right {
  padding: 0px 15px;
}
/* line 282, ../sass/screen.scss */
header .nav-right .header-profile {
  height: 36px;
}
/* line 286, ../sass/screen.scss */
header .nav-right a {
  margin-left: 16px;
}
@media (max-width: 576px) {
  /* line 290, ../sass/screen.scss */
  header .nav-right a span {
    display: none;
  }
}
/* line 295, ../sass/screen.scss */
header .nav-right .icon-group {
  position: relative;
  display: inline-flex;
  margin-left: 0.25rem;
  align-items: center;
}
/* line 302, ../sass/screen.scss */
header .nav-right .icon-group a {
  margin: 0 5px;
}
/* line 306, ../sass/screen.scss */
header .nav-right .icon-group:after {
  content: '';
  right: -2px;
  height: 16px;
  position: absolute;
  top: 10px;
  width: 1px;
  background: rgba(0, 0, 0, 0.2);
}
/* line 317, ../sass/screen.scss */
header .nav-right .header-profile {
  padding-right: 5px;
}
/* line 320, ../sass/screen.scss */
header .nav-right .header-profile > span {
  line-height: 20px;
}
/* line 324, ../sass/screen.scss */
header .nav-right .header-profile-thumb {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  vertical-align: middle;
  background: #663399;
}
/* line 336, ../sass/screen.scss */
header .nav-right .header-profile-thumb img {
  width: 100%;
}
@media (max-width: 400px) {
  /* line 317, ../sass/screen.scss */
  header .nav-right .header-profile {
    display: none;
  }
}

/* MULTIUSE ELEMENTS */
/* line 348, ../sass/screen.scss */
.wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
  z-index: 1;
}
/* line 355, ../sass/screen.scss */
.wrapper-dark {
  background: rgba(0, 0, 0, 0.8);
}

/* line 360, ../sass/screen.scss */
.btn-holder {
  position: relative;
  display: inline-block;
}

/* line 365, ../sass/screen.scss */
.icon-holder {
  padding: 10px;
  display: inline-block;
}
@media (max-width: 350px) {
  /* line 365, ../sass/screen.scss */
  .icon-holder {
    padding: 8px;
  }
}

/* line 373, ../sass/screen.scss */
.dropdown {
  display: none;
  position: absolute;
  top: 35px;
  width: 190px;
  right: 0;
  background: #fff;
  padding: 20px 0px;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  z-index: 9;
}
/* line 388, ../sass/screen.scss */
.dropdown.active {
  display: block;
}
/* line 393, ../sass/screen.scss */
.dropdown ul li {
  background: transparent;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* line 399, ../sass/screen.scss */
.dropdown ul li:hover {
  background: #f9f9f9;
}
/* line 403, ../sass/screen.scss */
.dropdown ul li a {
  line-height: 32px;
  padding: 0px 20px;
  display: block;
}

/* line 412, ../sass/screen.scss */
.padded {
  padding-top: 42px;
}

/* MAPS */
/* line 417, ../sass/screen.scss */
#mainmap {
  position: relative;
  background: #ad1283;
  background: -moz-linear-gradient(45deg, #ad1283 1%, #de47ac 100%);
  background: -webkit-linear-gradient(45deg, #ad1283 1%, #de47ac 100%);
  background: linear-gradient(45deg, #ad1283 1%, #de47ac 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad1283', endColorstr='#de47ac',GradientType=1 );
  padding: 40px 0px;
}
@media (min-width: 768px) {
  /* line 417, ../sass/screen.scss */
  #mainmap {
    background: url(../img/main-bg.jpg) no-repeat 50% 50%;
    background-size: cover;
  }
}
/* line 432, ../sass/screen.scss */
#mainmap .buttons-row {
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
/* line 439, ../sass/screen.scss */
#mainmap .buttons-row > a.btn {
  color: #fff;
  width: 19.5%;
  padding: 0;
  border: 0;
}
/* line 445, ../sass/screen.scss */
#mainmap .buttons-row > a.btn:focus, #mainmap .buttons-row > a.btn.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.2);
}
/* line 449, ../sass/screen.scss */
#mainmap .buttons-row > a.btn.disabled, #mainmap .buttons-row > a.btn:disabled {
  color: #74ce65;
  background-color: transparent;
}
/* line 454, ../sass/screen.scss */
#mainmap .buttons-row > a.btn:not(:disabled):not(.disabled):active, #mainmap .buttons-row > a.btn:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #663399;
  border-color: #663399;
}
/* line 461, ../sass/screen.scss */
#mainmap .buttons-row > a.btn:not(:disabled):not(.disabled):active:focus, #mainmap .buttons-row > a.btn:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  /* line 439, ../sass/screen.scss */
  #mainmap .buttons-row > a.btn {
    width: 100%;
    margin-top: 10px;
  }
}
/* line 471, ../sass/screen.scss */
#mainmap .buttons-row > a.btn:first-child {
  background: #e45f40;
}
/* line 474, ../sass/screen.scss */
#mainmap .buttons-row > a.btn:nth-child(2) {
  background: #cd1f42;
}
/* line 477, ../sass/screen.scss */
#mainmap .buttons-row > a.btn:nth-child(3) {
  background: #901f61;
}
/* line 480, ../sass/screen.scss */
#mainmap .buttons-row > a.btn:nth-child(4) {
  background: #38226a;
}
/* line 483, ../sass/screen.scss */
#mainmap .buttons-row > a.btn:nth-child(5) {
  background: #01528a;
}
/* line 487, ../sass/screen.scss */
#mainmap .buttons-row > a.btn span {
  display: block;
  background: transparent;
  -moz-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  padding: 0.375rem 0.75rem;
}
/* line 493, ../sass/screen.scss */
#mainmap .buttons-row > a.btn span:hover {
  background: rgba(255, 255, 255, 0.1);
}
/* line 500, ../sass/screen.scss */
#mainmap:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

/* line 512, ../sass/screen.scss */
.map-wrapper {
  overflow-x: auto;
  padding: 20px 0px;
}
@media (min-width: 768px) {
  /* line 512, ../sass/screen.scss */
  .map-wrapper {
    padding: 20px 80px;
  }
}
/* line 520, ../sass/screen.scss */
.map-wrapper .map-holder {
  width: 100%;
  min-width: 640px;
}
/* line 527, ../sass/screen.scss */
.map-wrapper svg .st0:hover,
.map-wrapper svg .st1:hover,
.map-wrapper svg .st3:hover,
.map-wrapper svg .st_point:hover .st1,
.map-wrapper svg .st5:hover,
.map-wrapper svg .st_ch,
.map-wrapper svg .st_ch .st1 {
  fill: #c068f2 !important;
}
/* line 537, ../sass/screen.scss */
.map-wrapper svg * {
  -moz-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}
