/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

@import "../includes/mixins.scss";

@import '../includes/fontawesome-all.min.css';
@import '../includes/waves.min.css';
@import '../includes/tooltipster.bundle.min.css';
@import '../includes/tooltipster-sideTip-borderless.min.css';
@import '../includes/bootstrap.css';

@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:400,700&subset=cyrillic';

body {
  font-family: "Roboto Condensed", sans-serif;
  background:$lightgrey;
}

a {
  color: $maincolor;

  &:hover {
    color: $maincolor;
    text-decoration: none;
  }
}

.wrapper {
  max-width: 1140px;
  width:100%;
  margin:0 auto;
}

header {
  background:#fff;
  border-bottom: 1px solid rgba(0,0,0,0.25);

  position:fixed;
  left:0;
  right:0;
  top:0;

  z-index:9;

  height:42px;

  .logo-holder {
    width:122px;
    height:30px;
    position: absolute;
    left: 50%;
    margin-left: -61px;
    top:5px;
    z-index:2;
    display:none;

    @include rwd(max, 850) {
      width:28px;
      display:block;
      margin-left:-14px;
    }

    .logo {
       display:block;

       span {
         border: 0;
         clip: rect(0 0 0 0);
         height: 1px;
         margin: -1px;
         overflow: hidden;
         padding: 0;
         position: absolute;
         width: 1px;
       }

       &:before {
         content:"";
         position:absolute;
         top:0;
         bottom:0;
         left:0;
         right:0;
         background: url(../img/logo.svg) no-repeat 50% %50%;
         background-size:100%;

         @include rwd(max, 850) {
           background: url(../img/logo-initial.svg) no-repeat 50% %50%;
           background-size:100%;
         }
       }
    }
  }

  .nav-left {
    .logo-holder {
      position:relative;
      display:block;
      top:0;
      left:0;
      margin-left:0;

      @include rwd(max, 850){
        display:none;
      }
    }
  }
  /* Hamburger menu */
  .menu-bars {
    height:28px;
    width:0px;
    display:inline-block;
    vertical-align: middle;
    margin-right:2px;
    position:relative;
    cursor:pointer;
    @include transition(width 0.2s ease-in-out);

    @include rwd(max, 850){
      width:32px;
      margin-left:10px;
    }

    span,
    span:before,
    span:after {
      background:$maincolor;
      display:block;
      height:2px;
      position:absolute;
      left:0;
      right:0;
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -moz-transition-duration: .3s,.3s;
      -webkit-transition-duration: .3s,.3s;
      transition-duration: .3s,.3s;
      -moz-transition-delay: .3s,0s;
      -webkit-transition-delay: .3s,0s;
      transition-delay: .3s,0s;

    }

    span {
      top: 14px;
      margin: 0px 5px;
      -moz-transition-property: background;
      -webkit-transition-property: background;
      transition-property: background;

      &:before {
        content: "";
        top: -6px;
        -moz-transition-property: top, transform;
        -webkit-transition-property: top, transform;
        transition-property: top, transform;
      }

      &:after {
        content: "";
        bottom: -6px;
        -moz-transition-property: bottom, transform;
        -webkit-transition-property: bottom, transform;
        transition-property: bottom, transform;
      }

      &.active {
        background: rgba(0, 0, 0, 0);

        &:before {
          -moz-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          top:0px;
          -moz-transition-delay: 0s,.3s;
          -webkit-transition-delay: 0s,.3s;
          transition-delay: 0s,.3s;
        }

        &:after {
          -moz-transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
          bottom:0px;
          -moz-transition-delay: 0s,.3s;
          -webkit-transition-delay: 0s,.3s;
          transition-delay: 0s,.3s;
        }
      }
    }
  }

  &.fixed {
    .menu-bars{
      @include rwd(max, 850) {
        width:32px;
        margin-left:10px;
        display:inline-block!important;
      }
    }
  }

  /* NAVIGATION */

  nav.navbar {

    font-size:13px;
    line-height:41px;
    text-transform:uppercase;
    height: 100%;
    padding: 0rem 1rem;

    @include rwd(max, 850){
      position:fixed;
      top: 42px;
      width:100%;
      background: $lightgrey;
      display:none;

      &.show {
        display:block;
      }
    }

    ul.menunav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;

      @include md(max) {
        flex-direction: column;
        width:100%;
        padding:20px 0px;
      }

      > li {
        margin:0 5px;

        @include border-radius(5px);

        > a {
          display:block;
          border-bottom:1px solid transparent;

          &:hover {
            border-bottom-color: $maincolor;
          }

          @include md(max){
            padding:0px 10px
          }

        }
      }
    }
  }

  .nav-left,
  .nav-right {
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 100%;
  }
  .nav-right {
    padding:0px 15px;

    .header-profile {
      height:36px;
    }

    a {
      margin-left: 16px;

      @include sm(max){
        span {
          display:none;
        }
      }
    }
    .icon-group {

      position: relative;
      display:inline-flex;
      margin-left: 0.25rem;
      align-items: center;

      a {
        margin:0 5px;
      }

      &:after{
        content: '';
        right:-2px;
        height: 16px;
        position: absolute;
        top:10px;
        width: 1px;
        background: rgba(0, 0, 0, 0.2);
      }
    }

    .header-profile {
      padding-right:5px;

      > span {
        line-height:20px;
      }

      &-thumb {
        width: 20px;
        height: 20px;
        display: inline-block;
        margin-right: 5px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        overflow: hidden;
        vertical-align: middle;
        background: $maincolor;

        img {
          width:100%;
        }
      }
      @include rwd(max, 400){
        display:none;
      }
    }
  }
}

/* MULTIUSE ELEMENTS */
.wrapper {
  position:relative;
  margin:0 auto;
  max-width:1140px;
  width:100%;
  z-index:1;

  &-dark {
    background:rgba(0,0,0,0.8);
  }
}

.btn-holder {
  position: relative;
  display: inline-block;
}

.icon-holder {
  padding: 10px;
  display: inline-block;

  @include rwd(max, 350){
    padding:8px;
  }
}
.dropdown {
  display: none;
  position: absolute;
  top: 35px;
  width: 190px;
  right: 0;
  background: #fff;
  padding: 20px 0px;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  z-index: 9;

  &.active {
    display: block;
  }

  ul {
    li {
      background: transparent;
      -moz-transition: all 0.5s ease-in-out;
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;

      &:hover {
        background: $lightgrey;
      }

      a {
        line-height:32px;
        padding:0px 20px;
        display:block;
      }
    }
  }
}

.padded {
  padding-top:42px;
}

/* MAPS */
#mainmap {
  position:relative;
  background: #ad1283;
  background: -moz-linear-gradient(45deg,  #ad1283 1%, #de47ac 100%);
  background: -webkit-linear-gradient(45deg,  #ad1283 1%,#de47ac 100%);
  background: linear-gradient(45deg,  #ad1283 1%,#de47ac 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad1283', endColorstr='#de47ac',GradientType=1 );

  padding:40px 0px;

  @include md(min) {
    background:url(../img/main-bg.jpg) no-repeat 50% 50%;
    background-size:cover;
  }

  .buttons-row {
    text-align:center;
    flex-wrap: wrap;
    justify-content:space-between;
    display:flex;
    flex-direction:row;

    > a.btn {
      color:#fff;
      width: 19.5%;
      padding:0;
      border:0;

      &:focus,
      &.focus {
        box-shadow: 0 0 0 0.2rem rgba(0,0,0, 0.2);
      }
      &.disabled,
      &:disabled {
        color: #74ce65;
        background-color: transparent;
      }
      &:not(:disabled):not(.disabled):active,
      &:not(:disabled):not(.disabled).active {
        color: #fff;
        background-color: $maincolor;
        border-color: $maincolor;
      }

      &:not(:disabled):not(.disabled):active:focus,
      &:not(:disabled):not(.disabled).active:focus {
        box-shadow: 0 0 0 0.2rem rgba(0,0,0, 0.2);
      }

      @include md(max){
        width:100%;
        margin-top:10px;
      }

      &:first-child {
        background:$orange;
      }
      &:nth-child(2){
        background:$red;
      }
      &:nth-child(3){
        background:$purple;
      }
      &:nth-child(4){
        background:$deeppurple;
      }
      &:nth-child(5){
        background:$blue;
      }

      span {
        display:block;
        background:transparent;
        @include transition(0.3s ease-in-out);
        padding: 0.375rem 0.75rem;

        &:hover {
          background:rgba(255,255,255,0.1);
        }
      }
    }
  }

  &:after {
    content:"";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.6);
    z-index:0;
  }
}

.map-wrapper {
  overflow-x:auto;
  padding:20px 0px;

  @include md(min) {
    padding:20px 80px;
  }

  .map-holder {
    width:100%;
    min-width:640px;
  }

  svg {

    .st0:hover,
    .st1:hover,
    .st3:hover,
    .st_point:hover .st1,
    .st5:hover,
    .st_ch,
    .st_ch .st1 {
      fill: #c068f2!important;
    }

    *{
      @include transition(0.3s ease-in-out);
    }

  }
}