// Media queries and mixins get from https://medium.com/codeartisan/breakpoints-and-media-queries-in-scss-46e8f551e2f2
$screen-xsm-max: 480px;
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;

// Extra small
@mixin xsm($val) {
  @media (#{$val}-width: #{$screen-xsm-max}) {
    @content;
  }
}
// Small devices
@mixin sm($val) {
  @media (#{$val}-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md($val) {
  @media (#{$val}-width: #{$screen-md-min}) {
    @content;
  }
}
// Large devices
@mixin lg($val) {
  @media (#{$val}-width: #{$screen-lg-min}) {
    @content;
  }
}
// Extra large devices
@mixin xl($val) {
  @media (#{$val}-width: #{$screen-xl-min}) {
    @content;
  }
}
// Custom devices
@mixin rwd($val,$screen) {
  @media (#{$val}-width: $screen+'px') {
    @content;
  }
}

// Create .size-x where x from 10 to 48
$font-sizes: 48;
@mixin fontSizes {
  @for $i from 10 through $font-sizes {
    .size-#{$i} {
      font-size: $i+px;
    }
  }
}

// Create negative margin top
$max-margin: 20;
@mixin nMarginTop {
  @for $i from 5 through $font-sizes {
    .mt--#{$i} {
      margin-top: -$i+px;
    }
  }
}

// NO Select mixin
@mixin textSelect($type) {
  -webkit-touch-callout: $type;
  -webkit-user-select: $type;
  -khtml-user-select: $type;
  -moz-user-select: $type;
  -ms-user-select: $type;
  user-select: $type;
}

$maincolor: #663399;
$lightgrey: #f9f9f9;
$orange:#e45f40;
$red:#cd1f42;
$purple:#901f61;
$deeppurple:#38226a;
$blue:#01528a;